

.cartItem {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    /* height: 100%; */
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    /* margin: 0px 0px; */

}


.cartItem__image__container {

    display: flex;
    justify-content: flex-start;
    /* width: 50%; */
    height: auto;

}

.cartItem__rating {

    display: flex;
    /* margin-bottom: 20px;
    height: auto; */

}

.cartItem__image {

    /* display: flex; */
    max-width: 160px;
    margin: 10px 0px;
    object-fit: contain;

}

.cartItem__info {
    
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    /* width: 100%; */
    /* max-width: 50%; */
    /* width: 100%; */

}

.cartItem__info > button {

    background-color: #f0c14b;
    border: 1px solid;
    margin:  10px 0px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111; 
    cursor: pointer;
    width: 170px;
    height: auto;

}

.cartItem__info > button:active {

    background-color: #d09b15;
    width: 160px;
    transform: translate(4px,0px);
   
}
.cartItem__info > p {

    max-width: 100%;
    
}

.cartItem__price__quantity {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0px 10px;

}

.cartItem__price__quantity > form > input {

    width: 30px;
    text-align: center;
    margin-left: 20px;
    font-weight: 700;

}

.form__button {

    margin-left: 3px;
    
}


.form__button {

    background-color: #f0c14b;
    cursor: pointer;
    width: 40px;
    margin-left: 10px;

}

.form__button:active {

    background-color: #d09b15;

}

@media only screen and (max-width: 900px){
    
    .cartItem{

        height: 100%;

    }

}

@media only screen and (max-width: 640px){
    

    .cartItem__image{

        object-fit: contain;

    }

}

@media only screen and (max-width: 490px){
    

    .cartItem {

        max-height: auto;

    }

    .cartItem__image{

        object-fit: contain;

    }

}

@media only screen and (max-width: 385px){

    .cartItem {

        max-height: 100%;

    }
    
    .cartItem__image{

        object-fit: contain;

    }

    .cartItem__info > button {

        width: auto;

    }

}


@media only screen and (max-width: 346px){
    
    .cartItem__info  {

        width: auto;

    }

    .cartItem {

        flex-direction: column;
        height: 100%;
        
    }
    
    .cartItem__image {

        object-fit: contain;

    }

 
    .cartItem__info > button {

        width: 50%;
    
    }

}

@media only screen and (max-width: 280px){
    
    .cartItem {

        display: flex;
        height: auto;
        flex-direction: column;
        
    }
    
    .cartItem__image {

        object-fit: contain;

    }
    
    .cartItem__info  {

        width: auto;
    
    }

    .cartItem__info > button {

        width: 90%;

    }

}
