
.checkout {

    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    height: max-content;
    /* width: 100%; */
    flex: 0.7;
}

.checkout__ad {

    width: 100%;
    margin-bottom: 10px;

}

.checkout__left {

    width: 100%;
    margin: 10px 10px;
    /* max-width: 300px; */
    height: 100%;

}


.checkout__title {

    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;

}

.cart__item {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.checkout__right {

    margin-right: 30px;
    flex: 0.3;

}

 /* @media only screen and (max-width: 2000px) {

    .checkout__right {
        max-width: 280px;
        margin-right: 20px;
    }
    
}  */

@media only screen and (max-width: 900px){

    .checkout__right {

        /* position: relative; */
        max-width: 300px;

    }

    .cart__item {
        height: 100%;
    }
}

@media only screen and (max-width: 630px){

    .checkout {

        flex-direction: column;
        /* height: 100%; */
    }

}


@media only screen and (max-width: 375px){

    .checkout {

        flex-direction: column;
    }

    .cart__item {

        height: auto;

    }
}

@media only screen and (max-width: 280px){

    .checkout {

        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* flex: 1; */
    }

    .cart__item {

        height: auto;

    }

}