.header {

    height: 60px;
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
    min-width: 280px;

}

/* .header > a:first-child {

    padding: 0;
    margin: 0;
    width: 110px;

} */

.header__logo {

    width: 80px;
    /* contain keeps aspect ratio */
    object-fit: contain;
    margin: 0 10px;
    margin-top: 18px;

}

.header__search {

    display: flex;
    /* flex: flex-grow flex-shrink flex-basis */
    /* flex: 1 1 auto as flex:1 */
    /* flex:1 stretch as far as it can go */
    flex:1 1 auto;
    /* align-items: center; */
    /* border-radius: 24px; */
    
}


.header__searchInput {

    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;

}

.header__searchIcon {

    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}

.header__nav {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3px;

}

.header__optionLineOne {

    font-size: 10px;

}

.header__basketCount {

    margin: 0 10px;

}

.header__optionBasket {

    display: flex;
    object-fit: contain;
    height: 72%;
    align-items: center;
    color: white;
    padding: 5px;
    margin-right: 20px;

}

.header__optionBasket:hover {

    border: 1px solid white;

}

.header__option:hover {

    border: 1px solid white;

}

.header__optionLineTwo {

    font-size: 13px;
    font-weight: 800;

}

.header__option {

    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin: 0 10px;
    color: white;
    padding: 5px;

}

.header__geoLocation {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 85px;
    margin: 5px 10px 5px 5px;
    /* margin-right: 10px;
    margin-bottom: 5px; */
    justify-content: center;
    padding: 5px;

}

.header__geoLocation > .header__geoLocation__country {

    color: white;
    font-size: 12px;
    font-weight: 700;
    text-align: start;
    padding: 0 3px;

}

.header__geoLocation > .header__geoLocation__city {

    color: white;
    font-size: 11px;
    font-weight: 600;
    text-align: start;
    padding: 0 3px;

}

.header__geoLocation > .header__geoLocation__deliver {

    font-size: 10px;
    color: white;
    font-weight: 500;
    font-style: italic;
    text-align: start;
    padding: 0 3px;

}

.header__geoLocation:hover {

    border: 1px solid white;

}


@media only screen and (max-width: 800px) {
    
    .header__logo{

        width: 80px;

    }
    
    .header__geoLocation {

        margin: 5px;
        padding: 5px;
        min-width: 85px;

    }

    .header {

        display: flex;
        flex-direction: rows;
        width: 100vw;

    }
}


@media only screen and (max-width: 700px) {
    
    .header__logo{

        width: 80px;

    }
    
    .header {

        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;

    }

    .header__search {

        width: 50%;
 
    }

    .header__nav {

        margin: 5px;
        /* margin-bottom: 5px; */
    }
}

@media only screen and (max-width: 493px) {
  
    .header {

        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 5px;
        padding: 5px;

    }

    .header__logo {

        width: 80px;

    }

    .header__geoLocation {

        margin: 5px;
        padding: 0;

    }

    .header__search {

        width: 60%;
 
    }

    .header__nav {

        margin: 5px;

    }
}

@media only screen and (max-width: 380px) {
    
    .header__logo {

        width: 80px;

    }
/*     
    .header__geoLocation {

        margin: 0;
        padding: 0;

    } */

    .header {

        display: flex;
        flex-direction: column;
        width: 100vw;
        height: auto;

    }

    .header__search {

        width: 80%;
 
    }

    .header__nav {

        margin: 5px;

    }
}


@media only screen and (max-width: 323px) {
    
    .header__logo {

        width: 80px;

    }
    
    .header {

        height: auto;
        display: flex;
        flex-direction: column;
        width: 100vw;

    }

    .header__nav {

        margin: 5px;

    }

    
    .header__search {

        width: 80%;
 
    }
}



  